---
import ChevronDown from "../../assets/chevron-down.svg";
import Globe from "../../assets/globe.svg";

const LANGUAGES = [
  { code: "EN", name: "English", active: true },
  { code: "ES", name: "Español", active: false },
];
---

<div title="Change Language" class="dropdown dropdown-end">
  <button
    class="btn btn-ghost btn-sm gap-1 px-1.5 text-[.5625rem] font-bold group"
    aria-label="Language"
  >
    <Globe />
    <span>EN</span>
    <ChevronDown />
  </button>
  <div
    tabindex="0"
    class="dropdown-content bg-base-200 text-base-content rounded-box mt-2 max-h-[calc(100vh-10rem)] overflow-y-auto border border-base-content/10 shadow-2xl z-50 w-32"
  >
    <ul class="menu menu-sm w-full">
      {
        LANGUAGES.map(({ code, name, active }) => (
          <li>
            <button class:list={["gap-3 px-2", { active }]}>
              <span class="pe-4 font-mono text-[.5625rem] font-bold tracking-[0.09375rem] opacity-40">
                {code}
              </span>
              <span class="font-[sans-serif]">{name}</span>
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</div>
